<div id="search-component">
  <h4>Hero Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>
  <!-- Event binding
  every time the user types in the textbox, the binding calls search() with the textbox value, the search term. The searchTerms
  becomes on observable emitting search terms. -->

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="detail/{{hero.id}}">
      {{hero.name}}
      </a>
    </li>
  </ul>
</div>
<!--  the $ after heroes is a convention to indicate that it is an observable, not an array.
NgFor cannot do anything with an observable. That's why we use an AsyncPipe, which will subscribe automatically to
an observable, so it won't have to do it in the component-->

